body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

/* Value buttons */
.controls_bg {
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.5));
  fill: #DDD; stroke: gray;
}
